
.main__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    height: 100%;

    padding: 15px 45px;
    gap: 50px;
}

h5 {
    margin: 0;
    font-weight: normal;
}



.main__col {
    display: flex;
    flex-direction: column;

    gap: 50px;
}

.main__container {
    background-color: var(--tertiaryContainer);

    height: 100%;

    padding: 30px;
    border-radius: 20px;
}